.game{
    border: 1px solid black;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.areaCarta {
    display: grid;
    grid-template-columns: repeat(6,minmax(130px , 100px) );
    grid-template-rows: 130px 130px 130px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-inline: 20px;
    padding: 1rem;
}

 .tarjeta, .cara {
    height: 6rem;
    width: 6rem;
    min-width: 130px;
    min-height: 130px;
    cursor: pointer;
    border-radius: 0.5rem;
}

/*.tarjeta:hover{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
}
*/
.tarjeta{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid black;
}

.posterior {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    background: rgba(43, 45, 39);
    align-items: center;
}

.superior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5681F0;
}

.tarjeta img {
    width: 80px;
    height: 80px;
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3rem;
    }
