.game{
    border: 1px solid black;
    -webkit-perspective: 1000 ;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.areaCarta {
    display: grid;
    grid-template-columns: repeat(6,minmax(80px , 100px) );
    grid-template-rows: 125px 125px 125px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    column-gap: 15px;
    margin-inline: 20px;
}

 .tarjeta, .cara {
    height: 6rem;
    width: 6rem;
    min-width: 80px;
    cursor: pointer;
    border-radius: 0.5rem;
}

.tarjeta:hover{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
}

.tarjeta{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid black;
}

.posterior {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    background: rgba(43, 45, 39);
    align-items: center;
}

.superior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5681F0;
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3rem;
    }

