.estadisticas {
    display: flex;
    justify-content: space-around;
    
}

.principales {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.movimientos {
    font-size: 2rem;
    
}

h6 {
    margin-block: 2rem;
    font-family: Roboto;
}

.estadisticas img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 2rem;
}

.puntaje, .vidas, .tiempo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ganador {
    
}
