@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yatra One', cursive;
    
}

main, .primeraPantalla, .segundaPantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*------Primera Pantalla-----*/
.img h1{
    font-size: 35px;
    color: white;
    text-align:center;
    position: relative;  
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);  
}

.name{
    border-radius: 10px;
    border-radius: none;
    width: 20%;
    height: 45px;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    font-size: 15px;
}

.input{
    width: 100%;
    padding: 90px;
    background-color: #E7C515;
    text-align: center;   
}

.boton{
    background-color: red;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}
#botonAJugar {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.boton:hover{
    background-color: rgb(216, 69, 69);
   
}

/*------Segunda Pantalla-----*/
header {
    position: relative;
    height: 10%;
    text-align: center;   
}

h2{
    font-size:45px;
    color: red;
    margin-top: 40px;
}

.tableroPuntaje ul {
    width: 430px;
    height: 60px;
    background-color:#E7C515;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#root {
    width: 100%;
}

.App {
    width: 700px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*background-color: bisque;*/
}

/*.cardBoard {
    width: 500px;
    height: 400px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: rgb(173, 183, 183);
   
}

.memoryCard, .back-face {
    width: 80px;
    width: 80px;
    width: calc(25% - 10px);
    height: 33%;
    margin: 5px;
    border-radius: 8px;
    display: flex;
    transform-style: preserve-3d;
    transition: 0.3s;
    position: relative;
    position: relative;
    
    
}

div .memoryCard {
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/358/541/non_2x/programming-icon-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

div .memoryCard:active {
    transform: scale(0.97);
}

div .memoryCard.flip {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    background: #db302a;
    padding: 10px;
    display: flex;
    border-radius: 20px;
    position: absolute;
    
}*/

/*----------*/
.cardBoard {
    width: 500px;
    height: 400px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(173, 183, 183);
}
.memoryCard {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(50, 50, 60);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

div .memoryCard {
    background-image: url("https://www.seekpng.com/png/full/304-3047371_coding-icon-programming-signs.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.front-face {
    width: 80px;
    height: 80px;
    
    position: absolute;
    justify-content: center;
    align-content: center;
    backface-visibility: hidden;

    transform: rotateY(180deg);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    
}

.flip {
    transform: rotateY(180deg);
    /*background-image: url("https://cdn-icons-png.flaticon.com/512/22/22935.png");*/
    transition: transform 0.4s;
}

/*.front-face{
    transform: rotateY(180deg);
}*/

/*.estiloCartas {
    width: 70px;
    margin: 5px;
    padding: 10px;

    align-items: center;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(50, 50, 60);
    border-radius: 5px;
    cursor: pointer;
}*/










/*@media (max-width: 600px) {
  
    div .memoryCard {
        flex: 100%;
    }
    .img h1{
        width: 10%;
    }
    .name{
        width: 10%;
        height: 35px;
        font-size:5px;
    }

}

@media  (max-width: 375px) {
  
    div .memoryCard {
        flex: 50%;
    }
    .front-face  {
        display: flex;
        width: 25%;
        margin: 2px;
        padding: 2px;  
    }
    .img h1{
        display: flex;
        width: 10%;
    }
    .input{
        width: 100%;
        padding: 45px;
       
    }

    .name{
        display: flex;
        width: 10%;
        height: 35px;
        font-size:5px;
    }*/



