body {
    background:linear-gradient(to top, #c2e59c, #64b3f4);
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 59.6rem;
    height: 40rem;
    background-image: url("/img/bienvenidafondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    
   
}

.welcome {
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    text-align: center;
    margin-block-start: 380px;
    margin-inline: 255px;
}

h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 55px;
    color: #591818;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(249, 242, 242, 0.75);
}

button {
    background: #B32828;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFf;
    padding-inline: 45px ;
    padding-block: 8px;
    font-family: Luckiest Guy;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.74);
    
}

input {
    background: rgba(217, 217, 217, 0.22);
    border: 3px solid #B22828;
    border-radius: 15px;
    font-family: Luckiest Guy;
    text-align: center;
    padding-inline: 45px;
    padding-block: 10px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.68);
    font-family: Luckiest Guy ;
}