
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Para usar medidas Rem: 1 rem equivale a 10px; */

html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #293462;
}

body {
    height: 100vh;
    /*width: 100vh;*/
}

.div_start {
    display: flex;
    flex-direction: column;
    background-color: #EFDF8B;
    height: 100vh;
}
.div_img_title {
    display: flex;
    justify-content: center;
    align-items: center;
  
       
}
.img_title {
    width: 50rem;
    height: 10rem;
    margin-top: 4rem;
    /*margin-left: 40rem;*/
}
.div_container {
    display: flex;
    flex-direction: column;
}

.div_img_pikachu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_welcome {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin-top: 1.2rem;
    
}
.img_pikachu {
    
    height: 30rem;
    width: 30rem;
    /*margin-left: 50rem;*/
            
}

.div_end  {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
   
}

.input_name {
    
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    width: 35rem;
    height: 5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(230, 188, 47, 0.8);
    border-color: #E6BC2F;
    color: #293462;
}

.btn_play {
    
    font-style: normal;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    width: 15rem;
    height: 5rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    background-color: rgba(230, 188, 47, 0.8);
    border-color: rgba(230, 188, 47, 0.8);
    color: #293462;
   
} 
 
/*Estilos de Head()*/
.head {
    display: flex;
    padding-bottom: 2.5rem;
    background-color: #EFDF8B;
    padding: 1rem;

 }

 .img_title_table {

    width: 65rem;
    height: 12rem;
    margin-left: 9.4rem;
    margin-top: 2.5rem;
 }

 .input_name_player {
    display: flex;
    align-items: center;
    width: 34.3rem;
    height: 4rem;
    margin-top: 5rem;
    margin-left: 9rem;
    font-size: 4rem;
    font-weight:bold;
 }

 /* Estilos del componente App() */

.div_box{
    display: grid; 
    justify-content: center;
    grid-template-rows: repeat(3, 10rem);
    grid-template-columns: repeat(6, 10rem);
    perspective: 800px;
    grid-gap: 2rem;
    background-color: #EFDF8B;
    padding-top: 3.3rem;
    padding-bottom: 3.5rem;
    height: 100vh;
}

.img_pokemon {
    position: absolute;
    left: 1rem;
    top:1.5rem;
    backface-visibility: hidden;
    width: 80%;
    height: 80%;
    pointer-events: none;
    border-radius: 0.5rem;
}

.text_pokemon{
    position: absolute;
    top: 0.5rem;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
}
 .back{
    /*background-image: url('./img/pokebola.png');*/ 
    border-radius: 0.5rem;
    background-color:  #FEB139;
    /*#4DAD5B*/ 
 }

 .face,
 .back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 0.5rem;
 }

 .card {
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
    width: 100%;
    height: 100%;
 }

 .toggleCard {
    transform: rotateY(180deg);
 }

 /*fin estilos cartas volteadas*/

 /*Estilos del Modal */
 .popup-overlay{
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:#feb2397f; /*fondo del modal*/
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 1; /*para que se esconda -1*/
    opacity: 1; /*para que se esconda 0*/
    width: 100vw;
    height: 100vh;
    user-select: none;
    
 }


 .popup-box-container{
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#EFDF8B;
    width: 40rem;
    height: 50vh;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem; 

 }

 .check-container{
    /*background-color: #E6BC2F;*/
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /*color:#E6BC2F;*/
    /*opacity: 0.5;*/
    font-size: 250%;
    margin:3.5rem;
    /*padding: 0.2rem;*/
    /*box-shadow: 0 0 1rem rgba(230, 187, 47, 0.954);*/
 }
 .img_modal {
    
    height: 7rem;
    width: 30rem;  
         
}


 .popup-message-container span {
    
    color: #293462;
    font-size:180%;
    font-weight: bold;
    margin-top: auto;
 }

 .ok-btn{
    font-style: normal;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    background-color: #D61C4E;
    border: transparent;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 1.5rem;
    color:#EFDF8B;
    margin-top: 2rem;
    width: 25%;
    
    cursor: pointer;

 }
 @media only screen and (max-width:400px) {
    .popup-box-container{
        width: 200px;
        
        
    }
 }

 @media only screen and (max-height:400px) {
    .popup-box-container{
         height: 200px;
        
    }
 }
/*  .active{
    opacity: 1;
    z-index: 1;
 } */